.navigation {
  background-image: url("img/1900sshop.jpg");
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
